{{#if search}}
{{else}}
<div class="hero bg-base-200" style="min-height: 70vh; background: url('/media/background2.jpg')">
  <div class="hero-content flex-col lg:flex-row">
    <img src="https://api.lorem.space/image/movie?w=260&h=400" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Box Office News!</h1>
      <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
{{/if}}


<div class="py-10">
  <div class="card bg-white shadow-lg max-w-2xl mx-auto w-full">
    <div class="card-body">
      <h1 class="text-center font-light text-3xl">Search a product</h1>

      <form class="flex mt-5 justify-center group">
        <input class="input input-width focus:shadow-inner focus:scale-105 focus:outline-none focus:ring-2 w-full" type="text" name="search" value="{{ search }}" placeholder="Search some thing...">
      
        <button class="btn btn-primary ml-5" type="submit">Search</button>
      </form>
    </div>

  </div>
</div>

<div class="flex justify-center mt-10">
  <h1 class="font-light text-3xl">
    {{#if search}}
      Search results for: {{ search }}
    {{else}}
      Our Collections
    {{/if}}
  </h1>
</div>

<div class="container mx-auto py-5 grid grid-cols-4 gap-5" style="min-height: 50vh;">
  {{#each products}}
    <div class="card card-compact bg-white shadow col-span-1">
      <figure class="cursor-pointer preview">
        <img class="aspect-square object-cover" src="{{ image }}" data-id="{{ id }}" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{ name }}</h2>
        <p class="font-bold">
          Price:
          <span class="font-light">$</span><span class="text-secondary">{{ price }}</span>
        </p>
        <p>{{ description }}</p>
        <div class="card-actions justify-end">
          <button class="btn btn-secondary btn-sm">Buy Now</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>

{{#each products}}
<input type="checkbox" id="image-{{id}}" class="modal-toggle previewer" />
<div class="modal">
  <div class="modal-box" style="padding: 0; min-width: 50vw;">
    <label for="image-{{id}}" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <img class="rounded-lg w-full h-full" src="{{ image }}" alt="">
  </div>
</div>
{{/each}}


<script> 
const figures = document.querySelectorAll('.preview')

for (const figure of figures) {

  figure.addEventListener('click', (e) => {
    document.querySelector('#image-' + e.target.dataset.id).click()
  })
}

for (const previewer of document.querySelectorAll('.previewer')) {
  previewer.addEventListener('change', (e) => {
    if (e.target.checked) {
      document.body.classList.add('overflow-hidden')
      document.body.classList.add('h-screen')
    } else {
      document.body.classList.remove('overflow-hidden')
      document.body.classList.remove('h-screen')
    }
  })
}
</script>
