<div class="py-5">
  <div class="container mx-auto grid grid-cols-3 gap-5">

    <form class="card bg-white shadow-md" method="post" action="/products/create">
      <div class="card-body">
        <h2 class="text-xl font-medium">Create a Product</h2>

        <div class="form-control w-full">
          <label class="label">Product name</label>
          <input name="name" type="text" placeholder="Type here" class="input input-sm" />
          {{#if errors.name}}
            <p class="text-red-500 text-xs italic">{{errors.name}}</p>
          {{/if}}
        </div>

        <div class="form-control w-full">
          <label class="label">Price</label>
          <input name="price" type="number" value="0" class="input input-sm" />
          {{#if errors.price}}
            <p class="text-red-500 text-xs italic">{{errors.price}}</p>
          {{/if}}
        </div>

        <div class="form-control w-full">
          <label class="label">
            <div>Image <span class="text-xs">(url)</span></div>
          </label>
          <input name="image" type="text" placeholder="Type here" class="input input-sm" />
          {{#if errors.image}}
            <p class="text-red-500 text-xs italic">{{errors.image}}</p>
          {{/if}}
        </div>

        <div class="form-control w-full">
          <label class="label">Category</label>
          <select name="category" class="select select-sm">
            <option value="">Please select category</option>
            {{#each categories }}
              <option value="{{ id }}">{{ name }}</option>
            {{/each }}
          </select>
          {{#if errors.category}}
            <p class="text-red-500 text-xs italic">{{errors.category}}</p>
          {{/if}}
        </div>

        <div class="form-control w-full">
          <label class="label">
            <div>Description <span class="text-xs">(optional)</span></div>
          </label>
          <textarea name="description" class="textarea w-full"></textarea>
          {{#if errors.description}}
            <p class="text-red-500 text-xs italic">{{errors.description}}</p>
          {{/if}}
        </div>

        <div class="flex mt-2">
          <button class="btn btn-sm w-full">Create</button>
        </div>

      </div>
    </form>

    <div class="card bg-white col-span-2">
      <div class="card-body overflow-x-auto">
        <table class="table w-full">
          <!-- head -->
          <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Category</th>
            <th>Action</th>
          </tr>

          <!-- body -->
          {{#each products}}
            <tr>
              <td>{{ index }}</td>
              <td>{{ name }}</td>
              <td>{{ price }}</td>
              <td><img src="{{ image }}" class="w-32 h-32 object-cover"></td>
              <td>{{ category }}</td>
              <td>
                <a class="underline text-primary" href="/products/{{ id }}/">Edit</a>
                <a class="underline text-primary" href="/products/{{ id }}/delete">Delete</a>
              </td>
            </tr>
          {{/each}}

        </table>

        <div class="flex justify-center">
          <div class="btn-group grid grid-cols-2">
            {{#if paginator.prev }}
            <a href="?page={{paginator.p}}" class="btn btn-outline">Prev</a>
            {{/if }}

            {{#if paginator.next }}
            <a href="?page={{paginator.n}}" class="btn btn-outline">Next</a>
            {{/if }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
